@import "./defult.css";
@import "./nav-bar.css";

body {
    background-image: url(../home/background-home-desktop.jpg);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.header__main {
    margin: 8rem 11rem;
}
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__main-left {
    color: #D0D6F9;
}
.header__main-left__toptext {
    letter-spacing: 4.75px;
    font-size: 28px;
}
.header__main-left__middletext {
    color: #fff;
    font-size: 100px;
    letter-spacing: 13px;
    font-weight: normal;
}
.header__main-left__bottomtext {
    width: 450px;
    /* height: 10px; */
    letter-spacing: 1px;
}
.header_main-right {
    background-color: #fff;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin-top: 13rem;
    letter-spacing: 6px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
.header_main-right:hover {
    box-shadow: rgba(50, 50, 93, 0.91) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.header_main-right-text{
    color: #0B0D17;
}